---
const url = new URL(Astro.request.url);
const path = url.pathname;
console.log({ path });

// get matching page from database
// or else send to not-found page??

const db = Astro.locals.runtime.env.DB;
console.log({ db });
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>GenerateThisWebsite</title>
  </head>
  <body>
    <p>Finding page...</p>
  </body>
</html>
