---

---

<header class='flex justify-between text-gray-800'>
  <div class='flex gap-3'>
    <a href='/'>home</a>
    <a href='/'>posts</a>
  </div>
  <p class='text-gray-600 hidden sm:block'>
    an experiment by <a
      href='https://nbaron.com/'
      target='_blank'
      rel='noreferrer'
      class='underline'>nbaron</a
    >
  </p>
  <p class='text-gray-600 sm:hidden'>
    by <a
      href='https://nbaron.com/'
      target='_blank'
      rel='noreferrer'
      class='underline'>nbaron</a
    >
  </p>
</header>
